<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        body {background-image: url("https://images.unsplash.com/photo-1558611848-73f7eb4001a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80"); }
        @font-face {
            font-family: 'FreckleFace-Regular';
            src: url('../font/FreckleFace-Regular.ttf');
        }
    </style>
</head>

<body>
    <div class="header">
        <h1 style="
        padding-top: 5rem;
        padding-bottom: 10rem;
        margin: 0;
        color: white;
        font-family: 'FreckleFace-Regular';
        font-size: 72px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
        text-align:center;">User Register</h1>
    </div>
<form action="/register" method="post" style="
    height: 590px;
    width:340px;
    padding:10px;
    background-color:rgb(240, 240, 240);
    border-radius: 12px;
    margin:auto;
    margin-bottom: 10rem;
    margin-top: -2rem;
    font-size: 20px; 
    font-weight: bold;">

    <div class="form-group" style=" 
    width:280px;
    padding:4px;
    margin-top: 20px;
    margin-left: 40px">
        <div class="form-name left">
            <label>Email(eg: aa@aa.com)</label>
        </div>
        <input type="email" name="email" value="{{ form && form.email }}" class="form-input left" style="height: 20px; width: 240px;"/>
    </div>
	
    <div class="form-group" style=" 
    width:280px;
    padding:4px;
    margin-left: 40px">
        <div class="form-name left">
            <label>Password</label>
        </div>
        <input type="password" name="password" class="form-input left" style="height: 20px; width: 240px;"/>
    </div>
	
	<div class="form-group" style=" 
    width:280px;
    padding:4px;
    margin-left: 40px">
        <div class="form-name left" >
            <label>Age (eg: 32)</label>
        </div>
        <input type="text" name="age" class="form-input left" style="height: 20px; width: 240px;"/>
    </div>
	
	<div class="form-group" style=" 
    width:280px;
    padding:4px;
    margin-left: 40px">
        <div class="form-name left">
            <label>Height (eg: 180)</label>
        </div>
        <input type="text" name="height" class="form-input left" style="height: 20px; width: 240px;"/>
    </div>
	
	<div class="form-group" style=" 
    width:280px;
    padding:4px;
    margin-left: 40px">
        <div class="form-name left">
            <label>Weight (eg: 65kg, you just need to input 65)</label>
        </div>
        <input type="text" name="weight" class="form-input left" style="height: 20px; width: 240px;"/>
    </div>
	
	<div class="form-group" style=" 
    width:280px;
    padding:8px;
    margin-left: 40px">
	    <div class="form-name left">
            <label>Gender</label>
        </div>
	<select name ="gender", id="gender" style="height: 24px; width: 250px;">
	<option></option>
	<option>Male</option>
	<option>Female</option>
	</select>
	</div>

	<div class="form-group" style=" 
    width:280px;
    padding:8px;
    margin-left: 40px">
	    <div class="form-name left">
            <label>Bodyparts</label>
        </div>
	<select name ="bodypart", id="bodypart" style="height: 24px; width: 250px;">
	<option></option>
	<option>Arm</option>
	<option>Pectoralis</option>
	<option>Abdomen</option>
	<option>Legs</option>
	<option>Back</option>
	</select>
	</div>
	
    <div class="form-btn" style=" 
    width:280px;
    padding:4px;
    margin-left: 40px">
        <input type="submit" value="Register"  
        style="font-size: 20px; 
        font-weight: bold; 
        margin-left: 70px; 
        margin-top: 16px;
        width: 120px;
        margin-bottom: 16px;
        "/>
    </div>
    <div class="form-btn">
        <label class="warn"><%= err_message %></label>
    </div>

    <div class="form-btn" style="font-size: 16px; font-weight: lighter; text-align: center;">
        IF Registered，click <a href='/login' >Login</a>
    </div>
    <a href="http://localhost:3000/" target="_self" 
        style="color: chocolate; font-size: 12px;">>>Welcome Page</a>
</form>
</body>
</html>